{% extends "Base.html" %}

{% block title %}Register page{% endblock %}

{% block content %}
    <div class="register-login-update-container">
        <h2>Register</h2>
        <br>
        <form class="register-form" action="{{ request.url_for('register') }}" method="post">
            <input type="text" name="username" placeholder="Write your username">
            <input type="text" name="email" placeholder="Write your email">
            <input type="password" name="password" placeholder="Write your password">

            <button type="submit">Regiser</button>

            <p>Don't have an account?
                <a href="/login">Login</a>
            </p>
        </form>
    </div>
{% endblock %}